---
import CodeIcon from '../icons/CodeIcon.astro'
import GithubIcon from '../icons/GithubIcon.astro'
import HeartIcon from '../icons/HeartIcon.astro'

import { Links } from '../../constants/links.ts'

const currentYear = new Date().getFullYear()
---

<footer
  class='w-full h-40 flex flex-col items-start justify-center max-w-5xl xl:max-w-7xl text-base my-10'>
  <div
    class='w-full h-full bg-white dark:bg-[#21232C] rounded-3xl flex items-center justify-between px-10'>
    <div class='flex flex-col items-start opacity-50 max-w-[50%] lg:max-w-fit'>
      <p>© {currentYear} Andres Urbano.</p><p
        class='items-center gap-2 hidden lg:flex'>
        Made with <span class='text-red-500'><HeartIcon /></span> and Astro.
      </p>
    </div>
    <div class='flex flex-col-reverse gap-3 items-end'>
      <div class='flex items-center gap-2 text-xl'>
        <a
          class='flex items-center font-medium'
          target='_blank'
          href={Links.repository}
          title='Go to respository'>
          <GithubIcon />
        </a>
        <a
          class='flex items-center font-medium'
          href='ui'
          rel='noreferrer'
          title='UI KiT'>
          <CodeIcon />
        </a>
      </div>
    </div>
  </div>
</footer>
