---
import DarkModeButton from '../DarkModeButton.astro'
import Button from '../ui/Button.astro'
---

<header
  class='w-full h-[5rem] dark:bg-dark-background bg-opacity-70 fixed top-0 left-0 z-10 backdrop-blur-lg subpixel-antialiased flex items-center'>
  <nav
    class='w-full h-full flex items-center justify-between max-w-5xl xl:max-w-7xl mx-auto p-5'>
    <a href='/' class='flex'>
      <span class='self-center text-2xl font-semibold whitespace-nowrap'>
        Esnoan
      </span>
    </a>
    <div class='flex justify-between items-center w-auto'>
      <ul class='flex space-x-8 mt-4'>
        <li class='flex items-center justify-center'>
          <DarkModeButton />
        </li>
        <li>
          <Button title='Download CV' />
        </li>
      </ul>
    </div>
  </nav>
</header>
