<section
  class='w-full grid auto-rows-[380px] lg:auto-rows-[140px] grid-cols-8 gap-4'>
  <div
    class='relative flex flex-col rounded-3xl bg-white p-6 gap-3 border-2 border-transparent overflow-hidden row-span-1 col-span-8 dark:bg-gray-900 lg:p-8 lg:row-span-3 xl:col-span-4'>
    <div class='flex flex-col gap-3'>
      <div class='flex items-center gap-3 opacity-50 z-[1]'>
        <svg
          stroke='currentColor'
          fill='currentColor'
          stroke-width='0'
          version='1.1'
          viewBox='0 0 16 16'
          height='1em'
          width='1em'
          xmlns='http://www.w3.org/2000/svg'>
          <path
            d='M16 5l-8-4-8 4 8 4 8-4zM8 2.328l5.345 2.672-5.345 2.672-5.345-2.672 5.345-2.672zM14.398 7.199l1.602 0.801-8 4-8-4 1.602-0.801 6.398 3.199zM14.398 10.199l1.602 0.801-8 4-8-4 1.602-0.801 6.398 3.199z'>
          </path>
        </svg><span class='font-semibold uppercase'>Experiencia laboral</span>
      </div><a
        class='p-2 border-2 border-gray-950 dark:border-moonlit opacity-40 rounded-full absolute top-6 right-6 lg:top-8 lg:right-8 cursor-pointer hover:bg-gray-950 hover:text-white dark:hover:bg-white dark:hover:text-gray-950 transition-colors duration-150 z-[1]'
        href='https://dd3.mx/'
        target='_blank'
        rel='noreferrer'
        title='DD3Land Editor demo'>
        <svg
          stroke='currentColor'
          fill='currentColor'
          stroke-width='0'
          viewBox='0 0 24 24'
          height='1em'
          width='1em'
          xmlns='http://www.w3.org/2000/svg'>
          <path fill='none' d='M0 0h24v24H0z'></path><path
            d='M6 6v2h8.59L5 17.59 6.41 19 16 9.41V18h2V6z'>
          </path>
        </svg>
      </a><div class='flex flex-col gap-1 z-[1]'>
        <h3 class='text-2xl font-bold'>DD3Land Editor</h3><p
          class='text-base opacity-70'>
          Construye tu meta-verso con DD3Land
        </p><div class='flex items-center gap-2 opacity-90 font-medium'>
          <span class='text-sm'>Next.js</span><span class='text-sm'>
            TypeScript
          </span><span class='text-sm'>Tailwind CSS</span><span class='text-sm'>
            AWS S3
          </span>
        </div>
      </div><img
        class='absolute -right-10 w-full top-48 rounded-2xl object-cover z-[1] transition-all duration-300 lg:-right-12 lg:top-48 false'
        src='https://images.unsplash.com/photo-1705648373513-4a886ddb7636?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
        alt='DD3Land Editor'
        title='Project screenshot'
      />
    </div>
  </div><div
    class='relative flex flex-col rounded-3xl bg-white p-6 gap-3 border-2 border-transparent overflow-hidden row-span-1 col-span-8 dark:bg-gray-900 lg:p-8 lg:row-span-2 xl:col-span-4'>
    <div class='flex flex-col gap-3'>
      <div class='flex items-center gap-3 opacity-50 z-[1]'>
        <svg
          stroke='currentColor'
          fill='currentColor'
          stroke-width='0'
          version='1.1'
          viewBox='0 0 16 16'
          height='1em'
          width='1em'
          xmlns='http://www.w3.org/2000/svg'>
          <path
            d='M16 5l-8-4-8 4 8 4 8-4zM8 2.328l5.345 2.672-5.345 2.672-5.345-2.672 5.345-2.672zM14.398 7.199l1.602 0.801-8 4-8-4 1.602-0.801 6.398 3.199zM14.398 10.199l1.602 0.801-8 4-8-4 1.602-0.801 6.398 3.199z'>
          </path>
        </svg><span class='font-semibold uppercase'>Experiencia laboral</span>
      </div><a
        class='p-2 border-2 border-gray-950 dark:border-moonlit opacity-40 rounded-full absolute top-6 right-6 lg:top-8 lg:right-8 cursor-pointer hover:bg-gray-950 hover:text-white dark:hover:bg-white dark:hover:text-gray-950 transition-colors duration-150 z-[1]'
        href='https://profesionalurbano.com/'
        target='_blank'
        rel='noreferrer'
        title='ProfesionalUrbano demo'>
        <svg
          stroke='currentColor'
          fill='currentColor'
          stroke-width='0'
          viewBox='0 0 24 24'
          height='1em'
          width='1em'
          xmlns='http://www.w3.org/2000/svg'>
          <path fill='none' d='M0 0h24v24H0z'></path><path
            d='M6 6v2h8.59L5 17.59 6.41 19 16 9.41V18h2V6z'>
          </path>
        </svg>
      </a><div class='flex flex-col gap-1 z-[1]'>
        <h3 class='text-2xl font-bold'>ProfesionalUrbano</h3><p
          class='text-base opacity-70'>
          Plataforma para conectar profesionistas con clientes.
        </p><div class='flex items-center gap-2 opacity-90 font-medium'>
          <span class='text-sm'>Laravel</span><span class='text-sm'>PHP</span>
        </div>
      </div><img
        class='absolute -right-10 w-full top-48 rounded-2xl object-cover z-[1] transition-all duration-300 lg:-right-12 lg:top-48 false'
        src='https://images.unsplash.com/photo-1705648373513-4a886ddb7636?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
        alt='ProfesionalUrbano'
        title='Project screenshot'
      />
    </div>
  </div><div
    class='relative flex flex-col rounded-3xl bg-white p-6 gap-3 border-2 border-transparent overflow-hidden row-span-1 col-span-8 dark:bg-gray-900 lg:p-8 lg:row-span-3 xl:col-span-4'>
    <div class='flex flex-col gap-3'>
      <div class='flex items-center gap-3 opacity-50 z-[1]'>
        <svg
          stroke='currentColor'
          fill='currentColor'
          stroke-width='0'
          version='1.1'
          viewBox='0 0 16 16'
          height='1em'
          width='1em'
          xmlns='http://www.w3.org/2000/svg'>
          <path
            d='M16 5l-8-4-8 4 8 4 8-4zM8 2.328l5.345 2.672-5.345 2.672-5.345-2.672 5.345-2.672zM14.398 7.199l1.602 0.801-8 4-8-4 1.602-0.801 6.398 3.199zM14.398 10.199l1.602 0.801-8 4-8-4 1.602-0.801 6.398 3.199z'>
          </path>
        </svg><span class='font-semibold uppercase'>Experiencia personal</span>
      </div><a
        class='p-2 border-2 border-gray-950 dark:border-moonlit opacity-40 rounded-full absolute top-6 right-6 lg:top-8 lg:right-8 cursor-pointer hover:bg-gray-950 hover:text-white dark:hover:bg-white dark:hover:text-gray-950 transition-colors duration-150 z-[1]'
        href='https://stock-market-demo.vercel.app/home'
        target='_blank'
        rel='noreferrer'
        title='Stock Market demo'>
        <svg
          stroke='currentColor'
          fill='currentColor'
          stroke-width='0'
          viewBox='0 0 24 24'
          height='1em'
          width='1em'
          xmlns='http://www.w3.org/2000/svg'>
          <path fill='none' d='M0 0h24v24H0z'></path><path
            d='M6 6v2h8.59L5 17.59 6.41 19 16 9.41V18h2V6z'>
          </path>
        </svg>
      </a><div class='flex flex-col gap-1 z-[1]'>
        <h3 class='text-2xl font-bold'>Stock Market</h3><p
          class='text-base opacity-70'>
          Aplicación para el seguimiento de acciones en la bolsa de valores.
        </p><div class='flex items-center gap-2 opacity-90 font-medium'>
          <span class='text-sm'>React</span><span class='text-sm'>
            TypeScript
          </span><span class='text-sm'>Tailwind CSS</span><span class='text-sm'>
            Next.js
          </span>
        </div>
      </div><img
        class='absolute -right-10 w-full top-48 rounded-2xl object-cover z-[1] transition-all duration-300 lg:-right-12 lg:top-48 false'
        src='https://images.unsplash.com/photo-1705648373513-4a886ddb7636?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
        alt='Stock Market'
        title='Project screenshot'
      />
    </div>
  </div><div
    class='relative flex flex-col rounded-3xl bg-white p-6 gap-3 border-2 border-transparent overflow-hidden row-span-1 col-span-8 dark:bg-gray-900 lg:p-8 lg:row-span-2 xl:col-span-4'>
    <div class='flex flex-col gap-3'>
      <div class='flex items-center gap-3 opacity-50 z-[1]'>
        <svg
          stroke='currentColor'
          fill='currentColor'
          stroke-width='0'
          version='1.1'
          viewBox='0 0 16 16'
          height='1em'
          width='1em'
          xmlns='http://www.w3.org/2000/svg'>
          <path
            d='M16 5l-8-4-8 4 8 4 8-4zM8 2.328l5.345 2.672-5.345 2.672-5.345-2.672 5.345-2.672zM14.398 7.199l1.602 0.801-8 4-8-4 1.602-0.801 6.398 3.199zM14.398 10.199l1.602 0.801-8 4-8-4 1.602-0.801 6.398 3.199z'>
          </path>
        </svg><span class='font-semibold uppercase'>Experiencia laboral</span>
      </div><a
        class='p-2 border-2 border-gray-950 dark:border-moonlit opacity-40 rounded-full absolute top-6 right-6 lg:top-8 lg:right-8 cursor-pointer hover:bg-gray-950 hover:text-white dark:hover:bg-white dark:hover:text-gray-950 transition-colors duration-150 z-[1]'
        href='https://bluee.com.mx/'
        target='_blank'
        rel='noreferrer'
        title='Bluee IoT demo'>
        <svg
          stroke='currentColor'
          fill='currentColor'
          stroke-width='0'
          viewBox='0 0 24 24'
          height='1em'
          width='1em'
          xmlns='http://www.w3.org/2000/svg'>
          <path fill='none' d='M0 0h24v24H0z'></path><path
            d='M6 6v2h8.59L5 17.59 6.41 19 16 9.41V18h2V6z'>
          </path>
        </svg>
      </a><div class='flex flex-col gap-1 z-[1]'>
        <h3 class='text-2xl font-bold'>Bluee IoT</h3><p
          class='text-base opacity-70'>
          Landing page de Bluee IoT
        </p><div class='flex items-center gap-2 opacity-90 font-medium'>
          <span class='text-sm'>Angular</span><span class='text-sm'>
            TypeScript
          </span><span class='text-sm'>SASS</span>
        </div>
      </div><img
        class='absolute -right-10 w-full top-48 rounded-2xl object-cover z-[1] transition-all duration-300 lg:-right-12 lg:top-48 false'
        src='https://images.unsplash.com/photo-1705648373513-4a886ddb7636?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
        alt='Bluee IoT'
        title='Project screenshot'
      />
    </div>
  </div>
</section>
